# ignore executables
*
!*.*
!*/
*.out
*.class

# Numerous always-ignore extensions
*.vi
*.exe
test*.sh
*.sass-cache
node_modules/
.tmp/
build
dist/

# OS or Editor folders
.DS_Store
.cache
.vscode

# Personal Ignore Extensions
*.zip
test.*
tempCodeRunnerFile.*
!CS-280/**/*.txt
*.txt
*.log
*.*-log
yarn.lock
shrinkwrap.yaml
package-lock.json
