# Numerous always-ignore extensions
*.vi
*.exe
test*.sh
*.sass-cache
node_modules/
.tmp/
build
dist/

# OS or Editor folders
.DS_Store
.cache
.vscode

# Personal Ignore Extensions
*.zip
test.*
tempCodeRunnerFile.*
*.txt
!**/*/homework-04/*.txt
!CS-280/**/*.txt
test.txt
*.log
*.*-log
yarn.lock
shrinkwrap.yaml
package-lock.json
