@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './_variables.css';

html {
  font-size: 1rem;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif, 'Segoi UI';
  font-weight: normal;
}

a {
  color: #fff;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
