:root {
  --primary: #d11717;
  --primary-focus: #cc0000;
  --secondary: #323232;
  --success: #28a745;
  --danger: #dc3545;
  --warning: #ffc107;
  --bg: #cf4647;
  --radius: 6px;
  --radius-input: 4px;
}
